@font-face {
    font-family: nazi;
    font-weight: 200;
    src: url(../fonts/Nazanin.TTF);
}
@font-face {
    font-family: nazi;
    font-weight: 400;
    src: url(../fonts/NazaninBold.TTF);
}

* {
    box-sizing: border-box;
    color:#333;
    font-family: nazi;
    font-weight: 200;
}
body{
    margin: 0;
    direction: rtl;
    
}
.container {
    width: 100%;
    padding: 0px 60px;
    
}
.p_15{
    padding-right: 15px;
    padding-left: 15px;
}
.clearfix {
    clear: both;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.header {
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 0px 1px 2px #5a5252;
}
.header_nav{
    float: right;
    margin-right:30px;
    
}
.header_nav li{
    display: inline-block;
    padding: 23px 10px;
    float: right;
   
}
.header_logo{
    float: right;
    padding-top: 6px;
}

.header_logo img{
   width: 50px;
    height: auto;
    
}
.login_btn{
    background-color: #0080ff;
    color: #ffff;
    border: none;
    padding: 9px 12px;
    margin: 16px 0px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    float: left;
}
/*page_intro*/
.page_intro{
    background: #00E8FF;
background: linear-gradient(90deg, rgba(0, 232, 255, 1) 0%, rgba(3, 126, 255, 1) 100%);
    width: 100%;
    height: auto;
    padding: 50px 0px;
    

}
.page_intro_right{
    width: 50% ;
    height: auto;
    float: right;
    text-align: right;
}
.page_intro_right h1{

    color: #fff;
    font-size: 70px;
    font-weight: 400;
}
.page_intro_right_btns{
    width: 300px;
    margin: 0 auto;
}
.page_intro_right_btn{
    color:#fff;
    background-color: transparent;
    width: 130px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    float: right;
    margin-left: 8px;
}


.page_intro_left{
    float: right;
    width: 50%;
    height: auto;
    padding-top: 80px;
    
}
.page_intro_left img{
   max-width: 200px;
    height: auto;
    
}
.new_posts h2{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px;

}
.new_post{
   
    width: 25%;
    height: auto;
    float: right;
    padding: 15px;
}
.new_post_card{
    
    width: 100%;
    height: 360px;
    box-shadow: 2px 2px 5px #b8b0b0;
    
}
.new_post_pic{
    width: 100%;
    height: 250px;

    }
.new_post_pic img{
    width: 100%;
    height: 100%;
}
.new_post_body{
    padding: 10px;
}
.new_post_title{
    margin: 0px;
    float: right;
    font-size: 18px;
    font-weight: 400;
}
.new_post_price{
    margin: 0px;
    float: left;
    font-size: 14px;
    text-decoration: line-through;
    color: #777;
}
.new_post_description{
    margin: 0px;
    float: right;
    font-size: 16px;
}
.new_post_price_off{
    margin: 0px;
    float: left;
    font-size: 16px;
}

.home_ad{
    padding-top: 40px;
}
.home_ad_right{
    
    width: 75%;
    height: 500px;
    float: right;
   padding: 15px;
}   
.home_ad_right img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.home_ad_left{
    
    width: 25%;
    height: 500px;
    float: left;
    padding: 15px;
    
}
.home_ad_left img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}   


.most_sales_item{
    float: right;
}





@media screen and (max-width: 1150px) {
    .new_post {
        width: 50%;
    }
    .container{
        padding: 0px 200px; 
    }
    .home_ad_right{
        width: 100%;
    }
    .home_ad_left{
        display: none
    }
}
@media screen and (max-width: 950px) {
    
    .container{
        padding: 0px 60px; 
    }
}
@media screen and (max-width: 750px) {
    .new_post {
        width: 100%;
    }
    .container{
        padding: 0px 20px; 
    }   
    
}