@font-face {
  font-family: nazi;
  font-weight: 200;
  src: url(../fonts/Nazanin.TTF);
}
@font-face {
  font-family: nazi;
  font-weight: 400;
  src: url(../fonts/NazaninBold.TTF);
}

* {
  box-sizing: border-box;
  color: #333;
  font-family: nazi;
  font-weight: 200;
  margin: 0;
  padding: 0;

}
.color_red{
  color:rgb(233, 22, 22) !important;
}
body {
  margin: 0;
  direction: rtl;
}

.container {
  width: 100%;
  padding: 0px 60px;
}

.col_4 {
  width: 25%;
  height: auto;
  float: right;
  padding: 15px;
}
.p_15 {
  padding-right: 15px;
  padding-left: 15px;
}

.clearfix {
  clear: both;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 65px;
  background-color: white;
  box-shadow: 0px 1px 2px #5a5252;
}
.header_icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-size: cover;
  margin-left: 2px;
  vertical-align: -2px;
  cursor: pointer;
}
.drop_down_icon {
  width: 15px;
  height: 15px;
  background: url(../images/icons/dropdown-icon.svg) center no-repeat;
  display: inline-block;
  background-size: cover;
  margin-right: 2px;
  vertical-align: -5px;
  cursor: pointer;
}
.drop_down_icon:hover{
  filter: brightness(1);
  
}
.hamber_menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  width: 40px;
  height: 40px;
  float: right;
  margin: 6px 0px;
}
.hamber_menu img {
  width: 100%;
  height: 100%;
}

.header_nav {
  float: right;
  margin-right: 30px;
}
.header_nav > li {
  display: inline-block;
  padding: 20px 10px;
  float: right;
  position: relative;
}
.drop_down .drop_down_menu{
  display: none;
}
.drop_down:hover .drop_down_menu{
  display: block;
}
.drop_down_menu{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  width: 150px;
  height: auto;
  box-shadow: 0px 1px 5px #b8b0b0;
}
.drop_down_menu li{
  font-size: 16px;
  padding: 8px 10px;
}
.drop_down_menu li a{
  display: block;
}
.drop_down_menu li:hover{
  background-color: #f2f2f2;
}
.header_nav li span {
  cursor: pointer;
}
.header_logo {
  float: right;
  padding-top: 6px;
}

.header_logo img {
  width: 50px;
  height: auto;
}
.login_btn {
  background-color: #0080ff;
  color: #ffff;
  border: none;
  padding: 9px 12px;
  margin: 16px 0px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  float: left;
}
/*page_intro*/
.page_intro {
  background: #00e8ff;
  background: linear-gradient(
    90deg,
    rgba(0, 232, 255, 1) 0%,
    rgba(3, 126, 255, 1) 100%
  );
  width: 100%;
  height: auto;
  padding: 50px 0px;
}
.page_intro_right {
  width: 50%;
  height: auto;
  float: right;
  text-align: right;
}
.page_intro_right h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
}
.page_intro_right_btns {
  width: 300px;
  margin: 0 auto;
}
.page_intro_right_btn {
  color: #fff;
  background-color: transparent;
  width: 130px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  float: right;
  margin-left: 8px;
}

.page_intro_left {
  float: right;
  width: 50%;
  height: auto;
  padding-top: 80px;
}
.page_intro_left img {
  max-width: 200px;
  height: auto;
}
.new_posts h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0px;
}

.new_post_card {
  width: 100%;
  height: 360px;
  box-shadow: 2px 2px 5px #b8b0b0;
  background-color: #fff;
}
.new_post_pic {
  width: 100%;
  height: 250px;
  text-align: center;
}
.new_post_pic img {
  width: auto;
  height: 100%;
}
.new_post_body {
  padding: 10px;
}
.new_post_title {
  margin: 0px;
  float: right;
  font-size: 18px;
  font-weight: 400;
}
.new_post_price {
  margin: 0px;
  float: left;
  font-size: 14px;
  text-decoration: line-through;
  color: #777;
}
.new_post_description {
  margin: 0px;
  float: right;
  font-size: 16px;
}
.new_post_price_off {
  margin: 0px;
  float: left;
  font-size: 16px;
}

.home_ad {
  padding-top: 40px;
}
.home_ad_right {
  width: 75%;
  height: 500px;
  float: right;
  padding: 15px;
}
.home_ad_right img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.home_ad_left {
  width: 25%;
  height: 500px;
  float: left;
  padding: 15px;
}
.home_ad_left img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.most_sales {
  background-color: #d9f1ff;
  padding: 30px 0;
}

.most_sales_item {
  float: right;
  width: calc(100% / 3);
  padding: 15px;
  height: 360px;
}

.most_sales h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.why_us_card {
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 30px 0px;
}
.why_us_card img {
  width: 40%;
  min-height: 113px;
  height: auto;
  margin: 20px 0px;
}
.why_us_card h4 {
  font-size: 18px;
  font-weight: 400;
}
.why_us_card p {
  font-size: 16px;
  color: #666;
}
/*footer*/
.main_footer {
  width: 100%;
  height: auto;
  background-color: #333;
  padding: 20px 0px;
}
.main_footer_f_l {
  width: 30%;
  height: auto;
  float: right;
  padding: 15px;
}

.main_footer_mid {
  width: 20%;
  height: auto;
  float: right;
  padding: 15px;
}
.main_footer_card h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.main_footer_card p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.main_footer_card ul li {
  margin-bottom: 4px;
}
.main_footer_card ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.main_footer_card ul li span {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}

.main_footer_card_namad img {
  width: 100px;
  height: 120px;
  margin-right: 10px;
}
.footer_line {
  border-color: #7f7f7f;
}
.under_footer {
  text-align: right;
  padding-top: 20px;
}
.under_footer p {
  color: #fff;
  display: inline-block;
  font-size: 16px;
}
.footer_social_items {
  float: left;
}
.footer_social_items img {
  width: 25px;
  height: auto;
  cursor: pointer;
  margin-right: 3px;
}

/*single.html*/


.breadcrumbs {
 
  background-color: #eee;
  padding:  15px 0;
}
.breadcrumbs a{
  color: #777;
  font-size: 16px;
  
}
.breadcrumbs span{
  color: #777;
  font-size: 16px;
 
}
.breadcrumbs a::after{
  content: "";
  display: inline-block;
  background: url(../images/icons/left-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  vertical-align: -2px;
} 
.single_product{
  padding-top: 20px;
  padding-bottom: 30px;

}
.single_product_right{
  float: right;
  width: 50%;
  height: auto;

  
}
.single_product_pic{
  width: 400px;
  height: auto;
  border: solid 1px #ddd;
  margin: auto;
}
.single_product_pic img{
  width: 100%;
  height:auto;
  
  
  
}
.single_product_left{
  float: left;
  width: 50%;
  height: auto;;
}
.single_product_left_body h1{
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
.single_product_price p{
  
  font-weight: 400;
  
  
}
.single_product_price span{
  font-size: 18px;
  color: #777;
  margin-bottom: 10px;
  display: inline-block;
  
} 
.single_product_sizes{
  margin-bottom: 15px;  
}
.single_product_sizes p {
  margin-bottom: 20px;
  font-weight: 400;
}
.single_product_size{
  width: 40px;
  height: 40px;
  border: solid 1px #aaa;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  margin-left: 5px;
  cursor: pointer;
}
.single_product_props{
  margin-bottom: 15px;
}
.single_product_props p{
  font-weight: 400;
  margin: 10px 0px;
}
.single_product_description{
  margin-bottom: 15px;
}
.single_product_description span{
  font-weight: 400;
}
.single_product_description p{
  width: 75%;
  color: #777;
}
.single_product_btn button{
background-color: #00bf6f;
border: none;
padding: 10px;
width: 200px;
color: #fff;
font-size: 18px;
border-radius: 3px;
cursor: pointer;
}
.single_comments{
padding: 30px 0px ;
}

.single_comments h5{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.single_comment{
  background-color: #f9fafb;
  height: auto;
  padding: 0 15px;
  padding-bottom: 20px;
}
.single_comment_item{
padding: 32px 75px 20px 0;
position: relative;
height: auto;
border-bottom: 1px #aaa solid;
}
.single_comment_item:last-child{
border-bottom: none;
}

.single_comment_item img{
  width:50px;
  height: auto;
  position: absolute;
  right: 15px;
  top: 20px;
}
.single_comment_name_date{
  margin-bottom: 10px;
}
.single_comment_name_date span{
  color:#777
}
.single_comment_name_date span:first-child{
  margin-left: 30px;
  color:#222;
  font-weight: 400;
}
.single_comment_text{
  font-size: 16px;
  margin-bottom: 10px;
}
.single_comment_state{
  color: #00cc66;
  font-size: 22px;
}



/*contactUs*/
.contact_us{
  padding-top: 30px;
}
.contact_us h1{
margin-bottom: 20px;
font-size: 26px;

}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.contact_inputs{
  width: 50%;
  margin-bottom:10px ;
}
.contact_inputs label{
  display: block;
  margin-bottom: 5px;
  color: #777;
  
}
.contact_inputs input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
.contact_message{
  width: 100%;
  margin-bottom:20px
}
.contact_message textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  min-height: 150px;
}
.contact_btn input{
  border:none;
  cursor: pointer;
  color: #fff;
  background-color: #0080ff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18;
}
.contact_us hr{
  border: 1px solid #ccc;
  margin:30px 15px 30px 15px;
}
.contact_info{
  padding-bottom: 30px;
}
.contact_info h2{
  margin-bottom: 10px;
}

.contact_info_right{
  width: 50%;
  height: auto;
}
.contact_info_right address{
  font-size: 20px;
}
.contact_info_right p{
  font-size: 20px;
 
}
.contact_info_left{
  width: 50%;
  height: auto;
  padding: 0 150px;
  
}
.contact_info_left img {
  width: 100%;
  height: auto;
 
}
/* panel*/
.main_panel{
  padding-top: 60px;
}
.main_panel header{
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 3px #ccc;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 99991;
}
.panel_head{
  display: flex;
  justify-content: space-between;
}
.panel_head p{
  padding-top: 15px;
}
.user_name{
  padding-top: 10px;
}
.user_name img{
  width: 40px;
 
}
.user_name span{
  vertical-align: 16px;
  margin-left: 5px;
}

.panel_body{
padding-right: 240px;
}
.panel_body_content{
  padding: 20px;
}
.panel_body_content h1{
  font-size: 26px;
  border-bottom: 1px #ccc solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.setting_inputs{
  margin-bottom: 30px;
}
.setting_inputs label{
  display: block;
  margin-bottom: 5px;
}
.setting_inputs input[type=text]{
  width: 250px;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 3px;

}
.panel_submit{
 background-color: #0080ff;
 border: none;
 border-radius: 5px;
 padding: 5px 20px;
 cursor: pointer;
 color: #fff;
}

.panel_sidebar{
  position: fixed;
  background-color: #414141;
  width: 240px;
  height: 100%;
  top:0;
  right: 0;
  z-index: 9999;
  padding-top: 100px;
  overflow: auto;
}
.panel_sidebar_pic{
  width:170px;
  height:170px;
  border-radius: 50%;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel_sidebar_pic img{
  width: 60%;
  height: 60%;
}
.panel_sidebar_menu{
padding-right: 40px;
padding-top: 40px;
}

.panel_sidebar_menu ul li{
margin-bottom: 15px;
}
.panel_sidebar_menu ul li i{
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: cover !important;
  vertical-align: -5px;
  margin-left: 3px;
}

.panel_sidebar_menu ul li a{
  color: #fff;

}


.panel_sidebar_little{
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0 ;
  background-color: #414141;
  z-index: 9999;
  display: none;
  padding-top: 100px;
  text-align: center;
}
.panel_sidebar_little img{
  width: 40px;
  height: auto;
  padding-top: 100px;
  margin-bottom: 40px;
}
.panel_sidebar_little i{
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: cover !important;
  margin-bottom: 10px;
}


/*category*/
.category_section{
  padding: 30px 0;
}
.cat_flex{
  display: flex;
}

.cat_content{
  width: 75%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
.cat_col_post{
  width:calc(100%/3) ;
  padding: 0 15px;
  margin-bottom: 15px;
  
}

.cat_sidebar{
  width: 25%;
  height: auto;
  padding: 15px;
}

.cat_sidebar_filters{
background-color: #fff;
width: 100%;
height: auto;
box-shadow: 0 1px 3px #bbb ;
display: flex;
flex-wrap: wrap;
}
.cat_sidebar_boxes{
  padding: 15px 0;
  margin: 0 15px;
  border-bottom:1px #ccc dashed;
  width: 100%;

}
.cat_sidebar_boxes:last-child{
  border-bottom: none;
}
.cat_sidebar_boxes h3{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
}
.cat_sidebar_boxes ul li{
  padding-right: 5px;
  margin-bottom: 5px;
  
}
.cat_sidebar_boxes label{
  color: #777;
  vertical-align: 3px;
  margin-right: 3px;
}
.pagination{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination_item{
  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 3px #bbb;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.pagination_item_selected{
  background-color: #0080ff;
}




/*aboutUs*/
.about_us{
  flex:1;
}
.about_us h1{
  padding-top: 30px;
}
.about_us_content{
  display: flex;
  width: 100%;
  height: 500px;
}
.about_us_content_right{
  width: 50%;
  height: 500px;
  padding: 50px;
}
.about_us_content_right p{
  font-size: 20px;
  margin: 30px 0;
  padding-left: 100px;
  
}

.about_us_content_left{
  width: 50%;
  height: 500px;
 
}
.about_us_content_left img{
  width: 100%;
  height: auto;
}






@media screen and (max-width: 1150px) {
  .col_4 {
    width: 50%;
  }
  .container {
    padding: 0px 200px;
  }
  .home_ad_right {
    width: 100%;
  }
  .home_ad_left {
    display: none;
  }
  .main_footer_f_l {
    width: 50%;
  }

  .main_footer_mid {
    width: 50%;
  }
  .page_intro_right {
    width: 100%;
    margin-bottom: 20px;
  }
  .page_intro_right h1 {
    text-align: center;
    font-size: 59px;
  }
  .page_intro_right br {
    display: none;
  }
  .page_intro_left {
    display: none;
  }
  .single_product_right{
    width: 100%;
    margin-bottom: 30px;
  }
  .single_product_pic{
    width: 100%;
    text-align: center;
  }
  .single_product_pic img{
    width: 400px;
  
  }
  .single_product_left{
    width: 100%;
  }
  .contact_info_left{
    padding: 0px ;
  }
  .cat_flex{
    flex-direction: column;
  }
  .cat_sidebar{
  width: 100%;
  }
  .cat_content{
    width: 100%;
  }
  .cat_col_post{
    width: 50%;
  }
  .cat_sidebar_boxes{
    width: 50%;
    margin: 0;
    padding: 15px;
  }
  .about_us_content{
    flex-direction: column;
  }
  .about_us_content_right{
    width: 100%;
  }
  .about_us_content_left{
    width: 100%;
  }

}
@media screen and (max-width: 950px) {
  .container {
    padding: 0px 60px;
  }
  .most_sales_item {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .col_4 {
    width: 100%;
  }
  .container {
    padding: 0px 20px;
  }
  .page_intro_right h1 {
    font-size: 40px;
  }
  .most_sales_item {
    width: 100%;
  }
  .header_nav {
    display: none;
  }
  .header_logo {
    display: none;
  }
  .hamber_menu {
    display: inline-block;
  }
  .main_footer_f_l {
    width: 100%;
  }

  .main_footer_mid {
    width: 100%;
  }
  .row{
    flex-direction: column;
  }
  .contact_inputs{
    width: 100%;
  }
  .flex_column{
    flex-direction:column-reverse ;
  }
  .contact_info_right{
    width: 100%;
  }
  .contact_info_left{
    width: 100%;
  }
  .panel_sidebar{
    display: none;
  }
  .panel_sidebar_little{
    display:block;
  }
  .panel_body{
    padding-right: 60px;
}
  .setting_inputs input[type=text]{
  width: 200px;
  }
  .cat_col_post{
    width: 100%;
  }
}
@media  screen and (max-width:420px) {
  .single_product_pic img{
    width: 290px;
  
  }
  .single_product_btn button{
    width: 100%;
  }
}
